# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*

# Git
.git
.gitignore

# Logs
logs/
*.log

# Docker
Dockerfile
docker-compose.yml

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
